<!-- Main Content -->
<div class="flex font-sans container mx-auto mt-4 flex-col px-4">
  <h1 class="text-3xl font-bold mb-2">Clipz Project</h1>
  <p class="mb-4">
    An app where you can upload your gaming videos and share them with everyone.
  </p>

  <h2 class="font-bold mt-4">Features:</h2>
  <ul class="list-decimal">
    <li>Login & Logout</li>
    <li>Upload your gaming video clips</li>
    <li>Generate screenshots from your uploaded video</li>
    <li>Manage your all your videos</li>
    <li>Organize your videos by: 'Recent Uploads' or 'Oldest Uploads'</li>
    <li>View the latest videos uploaded by all the users</li>
    <li>Infinite scrolling</li>
  </ul>

  <h2 class="font-bold mt-4">Tech Stack</h2>
  <p>Client: Angular, TailwindCSS</p>
  <p>Server: Firebase</p>

  <h2 class="font-bold mt-4">Links</h2>
  <ul>
    <li class="underline underline-offset-1">
      <a href="https://www.linkedin.com/in/aghwotu-ovuoke/">LinkedIn</a>
    </li>
    <li class="underline underline-offset-1">
      <a href="https://github.com/aghwotu/">Github</a>
    </li>
    <li class="underline underline-offset-1">
      <a href="https://twitter.com/ediri_aghwotu/">Twitter</a>
    </li>
  </ul>
</div>
